// Fonts
$font--body: 'Montserrat', sans-serif;
$font--pari: 'Parisienne', cursive;

// Colors
$white: white;
$black: black;
$yellow: yellow;
$color-main: #d5ae44;
$color-main-2: #e9d471;
$color-link: #ff3b3b;

$bg-facebook: #3b5998;
$bg-twiter: #55acee;
$bg-google: #dd4b39;

// Breakpoint
$s: 576px;
$md: 768px;
$l: 1024px;
$xl: 1280px;
$xxl: 1440px;

// gutter
$gutter: 20px;
$gutter--l: 16px;
$gutter--md: 24px;
$gutter--xl: 30px;
$gutter--xxl: 40px;