@import './scss/variable';
@import './scss/fonts';
@import './scss/reset';
@import './scss/owl.carousel';
@import './scss/colors';
@import './scss/typography';
@import './scss/header';
@import './scss/content';
@import './scss/footer';
