@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Parisienne&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #555;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  clear: both;
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Add your css into here*/
.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
   *  Owl Carousel - Animate Plugin
   */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
   * 	Owl Carousel - Auto Height Plugin
   */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
   * 	Owl Carousel - Lazy Load Plugin
   */
.owl-carousel .owl-item {
  /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
   * 	Owl Carousel - Video Plugin
   */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: yellow;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fw {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aie {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jca {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fa {
  margin-right: 5px;
}

.link {
  position: relative;
  margin-right: 5px;
  font-weight: bold;
  color: white;
}

.link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.link:hover:after {
  width: 100%;
}

.link--black {
  color: black;
}

.link--black::after {
  background-color: black;
}

.header__top {
  padding: 10px 0;
  color: white;
  background-color: #d5ae44;
}

.header__top .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .fas {
  margin-right: 5px;
}

.header__top-link {
  color: #ff3b3b;
  text-decoration: none;
}

.header__content {
  padding: 10px 0;
}

.header__content .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 180px;
}

@media (min-width: 1024px) {
  .header__nav-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-item {
  padding: 0 15px;
}

.header__nav-item a {
  color: black;
  text-decoration: none;
}

.hero__image {
  width: 100%;
  height: calc(100vh - 170px);
  margin: 0;
}

.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.hero .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: white;
}

.hero .owl-dots .owl-dot.active {
  background-color: #d5ae44;
}

.product {
  padding: 40px 0;
}

.product__title {
  font-size: 40px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background: url(./img/title.png) no-repeat center bottom;
  background-repeat: no-repeat;
}

.product__lists {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .product__lists {
    grid-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product__lists {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .product__lists {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.product__item {
  text-align: center;
}

.product__item-link {
  display: block;
  padding: 5px 5px 15px;
  border: 1px solid #ccc;
  -webkit-transition: -webkit-box-shadow .25s ease-in-out;
  transition: -webkit-box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out, -webkit-box-shadow .25s ease-in-out;
}

.product__item-link:hover {
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.35);
}

.product__item-link:hover .product__item-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product__item-title {
  color: black;
}

.product__item-price {
  color: #d5ae44;
  font-weight: bold;
}

.product__item-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.product__item-img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
}

.footer {
  position: relative;
  color: white;
  background-color: #d5ae44;
}

.footer__top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  .footer__top {
    margin: 0 -15px;
  }
}

.footer__top-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.footer__top-col:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__top-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.footer__top-col i {
  font-size: 30px;
}

.footer__top-text {
  padding-left: 15px;
}

.footer__top-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.footer__content {
  position: relative;
  z-index: 2;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .footer__content {
    margin: 0 -15px;
  }
}

.footer__content-col {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer__content-col {
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.footer__content-logo {
  max-width: 180px;
  margin-bottom: 30px;
  text-align: center;
}

.footer__content-text {
  margin-bottom: 14px;
}

.footer__content-text:last-child {
  margin-bottom: 0;
}

.footer__title {
  position: relative;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  background: white;
}

.footer__content-social a {
  margin-right: 15px;
  color: white;
  font-size: 16px;
}

.footer__content-social i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background-color: #3b5998;
}

.twitter-bg {
  background-color: #55acee;
}

.google-bg {
  background-color: #dd4b39;
}

.footer-widget ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.footer-widget li {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footer__content-subcribe {
  position: relative;
  overflow: hidden;
}

.footer__content-subcribe input {
  width: 100%;
  padding: 14px 28px;
  border: 0;
  color: black;
}

.footer__content-subcribe button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px 11px;
  border: 0;
  background-color: black;
}

.footer__content-subcribe button i {
  color: white;
  font-size: 22px;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.copyright-area {
  background-color: black;
  padding: 15px 0;
}

.copyright-text p {
  margin: 0;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */